<html>
    <head>
        <title>Medha's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Medha's blog</a></h1>
        </div>

        <div>
            <p>published : 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>jfjvnek dcnnc dncid scncijidqiedrv erhfuerfunervreyhr n8 yghuegbyegbvb  vv vb ye vn 
                jhb gyhvhb yhv ghgh hrehe g ggh fhbeuh vrrfg erfh errghir 
            </p>
        </div>

        <div>
            <p>published : 26.03.2020, 13:35</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.
        </div>
    </body>
</html>